body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


#container {
  background: rgb(166, 203, 224);
  border-radius: 15px;
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 5px;
}

p {
  color: #777;
  font-size: 18px;
  margin: 0;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: #0056b3;
}


/* Game Specific CSS */

#game-body {

  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right,
                    #12c2e98c, #c471ed98, #f64f5a83);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#container-game {

  background: rgb(166, 203, 224);
  border-radius: 15px;
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.11);
  padding: 40px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  border: 1px solid #757373;
}

.typing-input {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.output-box {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #757373;
}

