/* Reset default styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Body and Background */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f3f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("../images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}
a {
  color: #0e0d0d;
  text-decoration: none;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Container Styles */
#container {
  background: rgb(166, 203, 224);
  border-radius: 15px;
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;

}

/* Header and Footer Styles */
.header-container, .footer-container {
  text-align: center;
  
  background-color: #f5f2f2;
  color: #0e0d0d;
  width: 100%;
}

.header-container h1 a {
  color: #252323;
  text-decoration: none;
  font-size: 38px;
  position: relative; 
}

.header-container h1 a:hover {
  color: #138496;
}

.footer-container p {
  font-size: 14px;
  
}

/* Style the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Style the modal content */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  text-align: center;
}

/* Style the close button */
.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #ffffff; /* Button background color */
  color: #000000; /* Text color */
  text-decoration: none; /* Remove underlines from links */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  text-shadow: none; /* Remove any text shadow */
}

.button:hover {
  background-color: #cf85bf; /* Darker color on hover */
}

/* Game Page Styles */
#game-body {
  background: linear-gradient(to right, #12c2e98c, #c471ed98, #f64f5a83);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
   transition: background-color 0.5s ease;
}
#game-heading {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  transition: color 0.3s ease;
}

#game-heading {
  display: block;
  margin: 20px auto; 
  width: 200px;  
}

#game-heading img {
  max-width: 100%;
  height: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#game-heading:hover img {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0 8px 16px rgba(101, 210, 230, 0.2);
}

/* Container Styles */
#container-game {
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 80px; /* Adjust the margin to make room for the footer */
}

#container-game:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

#difficulty {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  outline: none;
  transition: border-color 0.3s ease;
}

#difficulty:focus {
  border-color: #007bff;
}

#difficulty::after {
  content: '\f107'; /* Unicode for a down arrow (you may need to adjust this) */
  font-family: 'Font Awesome'; /* Use Font Awesome for arrow icons */
  position: absolute;
  top: 12px;
  right: 12px;
  pointer-events: none;
  color: #555555;
  font-size: 16px;
}

/* Typing Input Styles */
.typing-input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.typing-input:focus {
  border-color: #007bff;
}

/* Typed Text Styles */
.typed-text {
  overflow: hidden;
  max-height: 256px;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  text-align: justify;
}

.typed-text p span {
  position: relative;
  color: #000000;
}

.typed-text p span.incorrect {
  color: red;
  background-color: #693d3d;
}

.typed-text p span.correct {
  color: green;
  background-color: rgb(161, 185, 161);
}


/* Result Info Styles */

ul.result-info {
  padding-left: 0;
}
.result-info {
  
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.result-info li {
  list-style: none;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-info p {
  font-size: 16px;
  color: #555555;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.result-info span {
  display: block;
  font-size: 18px;
  color: #333333;
  margin-top: auto;
}

/* Button Styles */
.output button {
  background-color: #b81788;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: #333;
  border-style: double;
  margin-top: 20px;
  display: block;
  margin: 20px auto 0;
}

.output button:hover {
  background-color: #3ba0afd8;
}

.output button a {
  color: black !important;
  text-decoration: none !important;
}

/* Style for High Scores Section */
#highScoresList {
  list-style: none;
  padding: 0;
}

#highScoresList li {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#highScoresList li:hover {
  background-color: #e0e0e0;
}

#highScoresList li::before {
  content: "🏆"; /* You can use any emoji or icon for a trophy */
  margin-right: 10px;
  font-size: 24px;
  color: #b81788; /* Trophy color */
}

#highScoresList li span {
  flex-grow: 1;
  font-size: 16px;
  color: #555555;
  text-align: left;
}

#highScoresList li b {
  font-size: 18px;
  color: #333333;
  text-align: right;
}

#highScoresList li span, #highScoresList li b {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer Container Styles */
.footer-container {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-container p {
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  color: #fcfcfc;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #138496;
}

/* Landing Container Styles */
.landing-container {
  background: linear-gradient(to bottom, #b817884d, #1384967e);
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  min-height: calc(100vh - 150px);
  padding: 0; 
  margin: 0; 
  flex: 1; 
}

.landing-content {
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  ;
}

.landing-content h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.landing-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.landing-content button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.landing-content button:hover {
  background-color: #138496;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #container-game {
    width: 90%;
  }

  .result-info li {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
  }

  .output button a,
  .output button a:hover,
  .output button a:focus,
  .output button a:active {
    color: black !important;
    text-decoration: none !important;
  }

  @media (max-width: 768px) {
    .footer-container {   
      padding: 20px 0;
      background-color: #333;
      color: #fff;
      width: 100%;
    }
  }

}
